
<header class="bg-white">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index.html">
                <img src="./assets/logo.svg" alt="Translite web logo" width="auto" height="30">
            </a>
            <div class="nav-links d-flex gap-4">
                <a href="index.html" class="nav-link">Translator</a>
                <a href="conversor.html" class="nav-link">Converter</a
            </div>
        </div>
    </nav>
</header>