@import './root.css';

.btn-primary {
  --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-btn-active-bg);
    --bs-btn-hover-border-color: var(--bs-btn-active-border);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-btn-active-bg);
    --bs-btn-active-border-color: var(--bs-btn-active-border);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
    
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-bg);

  &:first-child {
      &:hover,
      &:active {
        background-color: var(--bs-btn-bg);
        border-color: var(--bs-btn-bg);
      
      }
  }

}