@import './root.css';

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);

    &:hover {
        background-color: darken(var(--bs-primary), 10%);
        border-color: darken(var(--bs-primary), 10%);
    }
}