.boby-say-hi {
    background-image: url(../assets/boby-say-hi.png);
}

.nav-links .nav-link.active {
    color: var(--bs-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &::after {
        content: '';
        display: block;
        width: 25%;
        height: 2px;
        background-color: var(--bs-primary);
        margin-top: 4px;
        border-radius: 2px;
        
    }
}