.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}