:root {
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #176C60;
  --bs-secondary: #FDF1D9;
  --bs-success: #198754; 
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-btn-active-bg: #176C60;
  --bs-btn-active-border: #176C60;

  --bs-primary-rgb: 9, 94, 45;
  --bs-secondary-rgb: 253, 241, 217;
}
